In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import lxml

In [149]:
url = 'https://www.thenpl.co.uk/match-info/results/2022-10?division_id=5198600'
url2 = 'https://www.soccerstats.com/results.asp?league=england9&pmtype=bydate'

In [150]:
page = requests.get(url2)

In [151]:
soup = BeautifulSoup(page.content, "html.parser")

In [83]:
teams_list = []
for node in soup.findAll('span', {'class' : 'u-text-ellipsis u-block'}):
    teams_list.append(''.join(node.findAll(text=True)))

In [84]:
teams_list = list(map(lambda x:x.strip(),teams_list))

In [30]:
att_list = []
for node in soup.findAll('span', {'class' : 'u-muted'}):
    att_list.append(''.join(node.findAll(text=True)))

In [32]:
att_list = list(map(lambda x:x.strip(),att_list))

In [40]:
score_list = []
for node in soup.findAll('div', {'class' : 'layout__item u-one-sixth u-text-center'}):
    score_list.append(''.join(node.findAll(text=True)))

In [43]:
score_list = list(map(lambda x:x.strip(),score_list))

In [77]:
trimmed_scores = []
for i in range(0,len(score_list)):
    trimmed_scores.append((score_list[i][:5]))

In [97]:
teams_df = pd.DataFrame(teams_list, columns=['team'])

In [100]:
teams_df = pd.DataFrame(teams_df['team'].values.reshape(-1,2),columns=['home','away'])

In [128]:
att_df = pd.DataFrame(att_list, columns=['attendance'])
att_df = att_df[~att_df.attendance.str.contains("\n")]

In [129]:
att_df = att_df.attendance.str.extract('(\d+)').rename(columns={0: "attendance"})

In [134]:
scores_df = pd.DataFrame(trimmed_scores, columns=['score'])

In [135]:
dfs = [teams_df, scores_df, att_df]

In [137]:
final_df = pd.concat([teams_df, scores_df, att_df], axis=1)

In [138]:
final_df

                       home                     away  score attendance
0             Ashton United       Stalybridge Celtic  2 - 1        510
1             Bamber Bridge            Nantwich Town  1 - 0        423
2               Belper Town                 Guiseley  1 - 3        562
3      Gainsborough Trinity      Atherton Collieries  2 - 2        586
4                Liversedge          Warrington Town  0 - 4        546
5                    Marine              Whitby Town  2 - 0       1299
6             Marske United  FC United of Manchester  0 - 2        735
7              Morpeth Town         Stafford Rangers  2 - 1        407
8        Warrington Rylands             Matlock Town  1 - 2        NaN
9       Atherton Collieries              Belper Town  1 - 1        226
10  FC United of Manchester             Morpeth Town  4 - 2       1354
11           Lancaster City       Warrington Rylands  2 - 1        224
12             Matlock Town               Liversedge  1 - 2        527
13            Nantwich Town                   Marine  1 - 2        335
14       Stalybridge Celtic            Marske United  2 - 3        283
15          Warrington Town     Gainsborough Trinity  0 - 2        443
16            Ashton United              Whitby Town  0 - 1        165
17  FC United of Manchester            South Shields  2 - 1       1295
18             Morpeth Town            Bamber Bridge  1 - 1        374
19                Radcliffe       Stalybridge Celtic  2 - 1        427
20          Warrington Town       Warrington Rylands  3 - 3       1520
21      Atherton Collieries            Ashton United  2 - 0        321
22  FC United of Manchester                   Marine  1 - 1       1667
23                 Guiseley       Warrington Rylands  1 - 1        572
24           Lancaster City              Belper Town  1 - 1        291
25             Matlock Town            Nantwich Town  1 - 1        872
26         Stafford Rangers               Liversedge  2 - 0        698
27       Stalybridge Celtic             Morpeth Town  0 - 3        324
28          Warrington Town                Radcliffe  1 - 0        578